@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    text-decoration: none;
}
body{
    font-family: 'Ubuntu',sans-serif;
}
/*NavBar style*/
nav{
    background: darkgrey;
    height:  80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    position: fixed;
}
/*NavBar Logo*/
nav .logo a{
    color : black;
    font-size: 40px;
    font-weight: 600;
    padding-left: 50px;
}
nav .logo a span{
    color : coral;
}
/*NavBar Menu*/
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    color:black;
    text-transform: uppercase;
}
nav ul a:hover{
    color:white;
}
/*NavBar Reduction*/
.checkbtn{
    font-size: 30px;
    color : white;
    float : right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*NavBar Délimitation */
@media (max-width: 885px){
.checkbtn{
    display: block;
    color : black;
}
/*Délimitation Menu*/
ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav ul li a{
    font-size: 20px;
}
nav ul a:hover{
    background: none;
    color: coral;
}
#check:checked ~ ul{
    left: 0;
}
.contact_section{
    flex-direction:column;
}
.contact-form{
    margin-left: 50px;
    margin-right: 50px;
}
.contact-form h2{
    font-size : 30px;
}
.contact-form  .text-box{
    width: 100%;
}
}
/*home section style*/
.home_intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url("Image/bleubackground.png") no-repeat center;
    height: 100vh;
    min-height: 300px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu',sans-serif;
}
.home_content{
    margin:auto 0 auto 40px;
}
.home_intro h1{
    font-size:27px;
}
.home_intro h2{
    font-size:75px;
    font-weight: 600;
    margin-left: -3px;
}
.home_intro h3{
    font-size:40px;
    margin: 5px 0;
}
.home_intro h3 span{
    color: coral;
    font-weight: 500;
}
.logo-img{
    width: 70%;
}
/* About Section Style*/
.about_class{
    margin-top: 50px;
    font-family: 'Poppins',sans-serif;
}
.about_class h2{
    font-family: 'Ubuntu',sans-serif;
    text-decoration: underline;
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.about_class .left img{
    margin-left: 50px;
    margin-right: 50px;
    width: 200px;
    float: left;
}
.about_class h1{
    padding-left: 50px;
    display: inline-block;
}
.production_class
{
    padding : 20px;
    width: 1280px;
    margin:40px auto;
}
.production_class h1{
    font-family: 'Ubuntu',sans-serif;
    text-decoration: underline;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.production_class ul{
    display: flex;
    margin-bottom: 10px;
}
.production_class ul li{
    list-style: none;
    background: #eeee;
    padding: 8px 20px;
    margin : 5px;
    letter-spacing: 1PX;
    cursor: pointer;
}
.production_class ul li.active{
    background: #03a9f0;
    color: #ffff;
}
.product{
    display: flex;
    flex-wrap: wrap;
}
/*.product .itemBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/
.principals_skill{
    margin-left: 50px;
    border-spacing: 50px;
}
/*Contact Section Style*/
.contact_section{
    min-height: 100vh;
    background: rgba(181, 234, 236, 0.822);
    background-size: cover;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info{
    color: rgb(0, 0, 0);
    max-width: 500px;
    line-height: 65px;
    margin-left: 20px;
    font-size : 18px;
    margin-right: 20px;
}
.contact-info i{
    margin-right: 20px;
    font-size: 25px;
}
.contact-form{
    max-width: 700px;
    margin-right: 50px;
}
.contact-info .contact-form{
    flex:1;
}
.contact-form h2{
    color:black;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact-form .text-box{
    background: #000;
    color : #fff;
    border : none;
    width: calc(50% - 10px);
    height: 50px;
    padding : 12px;
    font-size:15px;
    border-radius:5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;

}
.contact-form .text-box:first-child{
    margin-right: 15px;
}
.contact-form textarea{
    background: #000;
    color : #fff;
    border : none;
    width: 100%;
    padding : 12px;
    font-size:15px;
    border-radius:5px;
    min-height: 200px;
    max-height: 400px;
    resize : vertical;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .send-btn{
    float : right;
    background: rosybrown;
    color : #fff;
    border : none;
    width: 120px;
    height: 40px;
    font-size:15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius:5px;
    cursor : pointer;
    transition: 0.3;
}
.contact-form .send-btn:hover{
    background: rgb(145, 109, 109);
}
@media screen and (max-width:950px){
    .contact_section{
        flex-direction:column;
    }
    .contact-form{
        margin-left: 50px;
        margin-right: 50px;
    }
    .contact-form h2{
        font-size : 30px;
    }
    .contact-form  .text-box{
        width: 100%;
    }
    .checkbtn{
        display: block;
        color : black;
    }
    /*Délimitation Menu*/
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav ul a:hover{
        background: none;
        color: coral;
    }
    #check:checked ~ ul{
        left: 0;
    }
    /*Alerte Section*/
    .alert-sucess{
        z-index:1;
        background: coral;
        font-size: 18px;
        padding: 20px 40px;
        min-width: 420px;
        position: fixed;
        right:0;
        top:10px;
        border-left: 8px solid;
    }
}