/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.navbar{
    position: fixed;
    width: 100%;
    background: darkgray;
    font-family: 'Ubuntu',sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 80px;
    margin: auto;
}
.navbar .logo a{
    color : black;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color : coral;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    color:black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
/*home section style*/
.home_intro{
    display: flex;
    background: url("Image/bleubackground.png") no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu',sans-serif;
}
.home_content{
    margin:auto 0 auto 40px;
}
.home_intro h1
{
    font-size:27px;
}
.home_intro h2
{
    font-size:75px;
    font-weight: 600;
    margin-left: -3px;
}
.home_intro h3
{
    font-size:40px;
    margin: 5px 0;
}
.home_intro h3 span
{
    color: coral;
    font-weight: 500;
}
/* About Section Style*/
.about_class{
    font-family: 'Poppins',sans-serif;
}
.about_class h2{
    font-family: 'Ubuntu',sans-serif;
    text-align: center;
}
.about_class .left img{
    background-color: crimson;
    width: 400px;
}