@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin:auto;
}
#centertext{
    text-align: center;
}
a {
    color:inherit ;
}
.sticky-nav{
    position: sticky;
    top: 0;
}
.mageragauche {
    margin-left: 50px;
}
.margephoto {
    margin-left: 600px;
}
.home{
    display: flex;
    background: url("Image/bleubackground.png") no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu',sans-serif;
}
.home .max-width{
    margin:auto 0 auto 40px;
}
.home .home-content .text-1
{
    font-size:27px;
}
.home .home-content .text-2
{
    font-size:75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3
{
    font-size:40px;
    margin: 5px 0;
}